.oa_button_delete{
	width: 60px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	background-color: #C0C0C0;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 700;
}

.oa_button_consent{
	width: 60px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #008000;
	border-radius: 3px;
	background-color: #008000;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 700;
}

.oa_button_reject{
	width: 60px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #FF0000;
	border-radius: 3px;
	background-color: #FF0000;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 700;
}

.oa_button_general{
	width: 60px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #1E90FF;
	border-radius: 3px;
	background-color: #1E90FF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 700;
}

.oa_input_text{
	width: 300px;
	height: 30px;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	text-indent: 1em;
	outline: none;
}

.oa_input_text:hover{
	width: 300px;
	height: 30px;
	border: 1px solid #1E90FF;
	border-radius: 3px;
	text-indent: 1em;
	outline: none;
}

.oa_table{
	border: 1px double #1E90FF;
	border-width: initial;
}

.oa_td{
	border: 1px double #FFFFFF;
	border-width: initial;
}

.oa_table_td_span{
	color: #1E90FF;
	font-size: 14px;
}

.oa_body_span{
	color: #666666;
	font-size: 14px;
	text-align: center;
}

.oa_tr:nth-child(even){
	background-color: #E1FFFF;
	
}

.oa_tr:nth-child(odd){
	background: #FFFFFF;
}